main
	section.section-about
		.u-center-text.u-margin-bottom-big
			h2.heading-secondary Exciting tours for adventurous people
		.row
			.col-1-of-2
				h3.heading-tertiary.u-margin-bottom-medium You're going to fall in love with nature
				p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad miniveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaconsequat.
				
				h3.heading-tertiary.u-margin-bottom-medium Live adventures like you never have before
				p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad miniveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eaconsequat.

				a.btn-text(href="#") Learn more &rarr;

			.col-1-of-2 
				.composition
					img.composition__photo.composition__photo--p1(srcset='assets/images/nat-1.jpg 300w, assets/images/nat-1-large.jpg 1000w', sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px', alt='Photo 1', src='assets/images/nat-1-large.jpg' data-aos-delay="50" data-aos="fade-up" )
					img.composition__photo.composition__photo--p2(srcset='assets/images/nat-2.jpg 300w, assets/images/nat-2-large.jpg 1000w', sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px', alt='Photo 2', src='assets/images/nat-2-large.jpg' data-aos-delay="60" data-aos="fade-down")
					img.composition__photo.composition__photo--p3(srcset='assets/images/nat-3.jpg 300w, assets/images/nat-3-large.jpg 1000w', sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px', alt='Photo 3', src='assets/images/nat-3-large.jpg' data-aos-delay="70" data-aos="fade-up")


