footer.footer(data-aos-delay="100" data-aos="zoom-in")
  .footer__logo-box
    picture.footer__logo
      source(srcset='assets/images/logo-green-small-1x.png 1x, assets/images/logo-green-small-2x.png 2x', media='(max-width: 37.5em)')
      img(srcset='assets/images/logo-green-1x.png 1x, assets/images/logo-green-2x.png 2x', alt='Full logo', src='assets/images/logo-green-2x.png')
  .row(style="padding-left: 3rem; padding-right: 3rem")
    .col-1-of-2
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='#') Company
          li.footer__item
            a.footer__link(href='#') Contact us
          li.footer__item
            a.footer__link(href='#') Carrers
          li.footer__item
            a.footer__link(href='#') Privacy policy
          li.footer__item
            a.footer__link(href='#') Terms
    .col-1-of-2
      p.footer__copyright
        | Built by 
        a.footer__link(href='#') Kim Jisoo
        |  Lorem ipsum dolor sit amet 
        a.footer__link(href='#') Lorem ipsum dolor sit amet
        | .
        | Copyright © by Kim Jisoon. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat.
