.popup

	.popup__content
		svg.popup__close-btn
			use(xlink:href='assets/images/symbol-defs.svg#icon-reply')
		.popup__left
			img(src="assets/images/nat-8.jpg", alt="").popup__img
			img(src="assets/images/nat-9.jpg", alt="").popup__img

		.popup__right
			h2.heading-secondary.u-margin-bottom-medium Start booking now
			p.popup__text 
				| Integer quis auctor elit sed. Enim praesent elementum facilisis leo vel. Gravida cum sociis natoque penatibus et magnis dis parturient montes. Sed libero enim sed faucibus turpis. Euismod quis viverra nibh cras pulvinar mattis. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Blandit libero volutpat sed cras ornare arcu dui. Est ante in nibh mauris. Tincidunt vitae semper quis lectus nulla at volutpat diam ut. Lectus sit amet est placerat in egestas erat imperdiet sed. 
			a.btn.btn--green(href="#") Book now
