
section.section-features
	.row
		.col-1-of-4
			.feature-box
				svg.feature-box__icon
					use(xlink:href='assets/images/symbol-defs.svg#icon-batman')
				h3.heading-tertiary.u-margin-bottom-small Explore the world
				p.feature-box__text
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
		.col-1-of-4
			.feature-box
				svg.feature-box__icon
					use(xlink:href='assets/images/symbol-defs.svg#icon-transformers')
				h3.heading-tertiary.u-margin-bottom-small Meet nature
				p.feature-box__text
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
		.col-1-of-4
			.feature-box
				svg.feature-box__icon
					use(xlink:href='assets/images/symbol-defs.svg#icon-spaceinvaders')
				h3.heading-tertiary.u-margin-bottom-small Find your way
				p.feature-box__text
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
		.col-1-of-4
			.feature-box
				svg.feature-box__icon
					use(xlink:href='assets/images/symbol-defs.svg#icon-skeletor')
				h3.heading-tertiary.u-margin-bottom-small Live a healthier life
				p.feature-box__text
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
