section.section-stories(data-aos="fade-left" data-aos-delay="100")
	.bg-video
		video.bg-video__content(autoplay muted loop)
			source(src="assets/images/video.mp4" type="video/mp4")
			source(src="assets/images/video.webm" type="video/webm ")
			| Your browser is not supported
	.u-center-text.u-margin-bottom-big
		h2.heading-secondary We make people genuinely happy

	.row
		.story 
			figure.story__shape
				img(src="assets/images/nat-8.jpg", alt="person").story__img
				figcaption.story__caption Sana Cutiepie
			.story__text 
				h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat.Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. 
	.row
		.story 
			figure.story__shape
				img(src="assets/images/nat-9.jpg", alt="person").story__img
				figcaption.story__caption Alex Alexeev
			.story__text 
				h3.heading-tertiary.u-margin-bottom-small Wow! My life is completely different now!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat.Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. 

	.u-center-text.u-margin-top-huge
		a(href="#").btn-text Read all tours &rarr;


	


